<header>
	<div class="row">
		<div class="col-8">
			<h2>Welcome to</h2>
			<h1><b>MoviePicker</b></h1>
			<p><br/>Add/Remove the movies using the form below.<br/>Click submit to get the movies you should select for maximum profit.</p>
		</div>
		
		<div class="col-4">
			<img src="/images/camera.png" width="220">
		</div>
	</div>

	<img src="/images/down1.png" id="down">
</header>


<main class="row">
	
</main>




<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
<script type="text/javascript" src="/javascripts/index.js"></script>
